@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label> Nhập họ tên</label>
    <input type="text" name="Fullname" />
    <br/>
    <label> Nhập địa chỉ</label>
    <input type="text" name="Address" />
    <br/>
    <input type="submit" value="Gửi dữ liệu" />
</form>
<p>@ViewBag.message</p>